<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Acquiring cash-flow properties!</h2>
                <hr class="light">
                <p class="text-faded">Numinor Real Estate seeks partners for joint ventures to purchase cashflow properties. We seek a minimum of 12% cash-on-cash return the first year, or better. </p>
                <a href="#" class="btn btn-default btn-xl">Start your investment journey with us today!</a>
            </div>
        </div>
    </div>
</section>
