<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Your Partner in Acquiring Profitable Cashflow Rental Properties</h1>
            <hr>
            <p>With a small investment of capital, you can create a lifetime of income.  Our proven system helps with sourcing, shopping, buying, and managing cashflow properties in Lexington, KY and surrounding areas. </p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
        </div>
    </div>
</header>
